body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

input,
button,
label {
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

input {
	/* font: normal; */
}

#wrap {
	display: flex;
	flex-direction: column;
	width: 350px;
	align-items: center;
	margin-top: 50px;
}
